.c-container 
  nav.c-menu 
    ul.c-menu-list
      li.c-menu-item 
        a(href=root) ホーム
      li.c-menu-item 
        a(href=root + "#mirai-foundation") 南アルプスみらい財団とは？ 
        .c-menu-mega 
          ul.c-menu-mega__list 
            li.c-menu-mega__item 
              a(href=root + "mirai-foundation/gaiyou/") 南アルプスみらい財団の概要
            li.c-menu-mega__item 
              a(href=root + "mirai-foundation/torikumihoushin/") 財団の取組方針
            li.c-menu-mega__item 
              a(href=root + "mirai-foundation/aisatsu/") 理事長挨拶
            li.c-menu-mega__item 
              a(href=root + "mirai-foundation/zigyou/") 財団の事業
      li.c-menu-item 
        a(href=root + "#information") 南アルプスの情報 
        .c-menu-mega 
          ul.c-menu-mega__list 
            li.c-menu-mega__item 
              a(href=root + "information/ranger-report/") レンジャー活動記録
            li.c-menu-mega__item 
              a(href=root + "information/ranger-spot/") レンジャー立ち寄りスポット
            li.c-menu-mega__item 
              a(href=root + "information/event/") イベント情報
            li.c-menu-mega__item 
              a(href=root + "information/voice/") 登山者・関係者の声
            li.c-menu-mega__item 
              a(href=root + "jigyou/") 財団の活動
      li.c-menu-item 
        a(href=root + "#sozai") 素材閲覧・ダウンロード 
        .c-menu-mega 
          ul.c-menu-mega__list 
            li.c-menu-mega__item 
              a(href=root + "sozai/pamphlet/") 財団パンフレット
            li.c-menu-mega__item 
              a(href=root + "sozai/picture/") 写真素材集